
/*Big tablet to 1200px (width smaller than the 1140px row)*/
/*Width shouldn't be 1140px anymore, just 100%*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
}


/*Small tablet to big tablet: from 768 to 1023px*/
/*(Reduced section padding), to lessen white space on a smaller device like an iPad*/
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .working-steps { margin-bottom: 40px; }
    .working-steps:first-child { margin-top: 40px; }
    .working-steps:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        margin-right: 5px;
        width: 17px; 
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {
        font-size: 250%;
    }
    
    .contact-form { width: 80%; }

}

/*Small phones to small tablets: from 481px to 767px (iPad is 768. All phones smaller than iPad)*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%; 
        margin: 0 0 4% 0;
    } 
    .main-nav { display: none; }
    
    h1 { font-size: 180%; }
    h1 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
/*    For the app image */
    .apps-screen { width: 40px; }
    
    .steps-box:first-child { text-align: center; }

/*    Reduce circle in the steps area*/
    .working-steps div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .working-steps { margin-bottom: 20px; }
    .working-steps:first-child { margin-top: 10px; }
    .working-steps:last-of-type { margin-bottom: 20px; }
}

/*Small phones: from 0 to 480px (iPhone 4 etc)*/
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
    
}

/*After you set up these areas, you fix them as needed, when the screen is reduced.*/
Open website directly, because we need the chrome developer tools. Use this to judge window size. 

